In [1]:
import pandas as pd
import numpy as np

In [2]:
#import dataset
data=pd.read_csv('cap2.csv')

C:\Users\HP\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (0,6,19,35,49,59,118,129,130,131,134,135,136,139,144,145,146) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#print the shape of dataset
print(data.shape)

(2650550, 150)

In [5]:
# get general information of dataset
data.describe()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,fico_range_low,fico_range_high,...,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,0.0,2.650517e+06,2.650517e+06,2.650517e+06,2.650517e+06,2.650513e+06,2.647892e+06,2.650488e+06,2.650517e+06,2.650517e+06,...,11061.0,11061.000000,11061.0,11061.000000,8783.000000,11061.000000,11061.000000,34555.000000,34555.000000,34555.000000
mean,NaN,1.526571e+04,1.526122e+04,1.524532e+04,4.503969e+02,7.907683e+04,1.909430e+01,2.961149e-01,6.998246e+02,7.038248e+02,...,3.0,155.505702,3.0,13.733388,456.543672,11685.104911,194.835504,5037.417008,47.829697,13.232412
std,NaN,9.389331e+03,9.387906e+03,9.391763e+03,2.710426e+02,1.120479e+05,1.524885e+01,8.533868e-01,3.347843e+01,3.347932e+01,...,0.0,129.071023,0.0,9.643870,375.681469,7656.530730,198.950174,3723.891409,7.352255,8.158109
min,NaN,5.000000e+02,5.000000e+02,0.000000e+00,4.930000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,6.100000e+02,6.140000e+02,...,3.0,0.640000,3.0,0.000000,1.920000,55.730000,0.010000,44.210000,0.200000,0.000000
25%,NaN,8.000000e+03,8.000000e+03,8.000000e+03,2.532800e+02,4.681900e+04,1.197000e+01,0.000000e+00,6.750000e+02,6.790000e+02,...,3.0,59.630000,3.0,5.000000,176.235000,5646.440000,44.950000,2215.720000,45.000000,6.000000
50%,NaN,1.300000e+04,1.300000e+04,1.300000e+04,3.807700e+02,6.500000e+04,1.796000e+01,0.000000e+00,6.900000e+02,6.940000e+02,...,3.0,119.600000,3.0,15.000000,354.960000,10068.830000,134.110000,4160.000000,45.000000,14.000000
75%,NaN,2.000000e+04,2.000000e+04,2.000000e+04,6.013400e+02,9.500000e+04,2.470000e+01,0.000000e+00,7.150000e+02,7.190000e+02,...,3.0,213.980000,3.0,22.000000,624.405000,16209.890000,285.100000,6885.420000,50.000000,18.000000
max,NaN,4.000000e+04,4.000000e+04,4.000000e+04,1.719830e+03,1.100000e+08,9.990000e+02,5.800000e+01,8.450000e+02,8.500000e+02,...,3.0,943.940000,3.0,37.000000,2680.890000,40306.410000,1407.860000,37600.000000,521.350000,181.000000

In [4]:
#get general information of dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2650550 entries, 0 to 2650549
Columns: 150 entries, id to settlement_term
dtypes: float64(111), object(39)
memory usage: 3.0+ GB

In [7]:
#check to see how many missing value each feature has
data.isnull().sum()

id                             0
member_id                2650550
loan_amnt                     33
funded_amnt                   33
funded_amnt_inv               33
                          ...
settlement_status        2615995
settlement_date          2615995
settlement_amount        2615995
settlement_percentage    2615995
settlement_term          2615995
Length: 150, dtype: int64

In [15]:
#check to see which feature has more than 20 missing value
data.isnull().sum(axis=1)>20

0          True
1          True
2          True
3          True
4          True
           ...
2650545    True
2650546    True
2650547    True
2650548    True
2650549    True
Length: 2650550, dtype: bool

In [13]:
#extract meaningful data out of original dataset
#keep features whose missing value are less than 10,000 in a column
#keep records whose missing value are less than 40 in a row 
data1=data.loc[data.isnull().sum(axis=1)<40,data.isnull().sum()<10000]

In [24]:
#get the new dataset data1 and remove the 1st feature('id') since no meaningful information 
data1.ix[:,2:]

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,verification_status,...,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,hardship_flag,debt_settlement_flag
21,16000.0,16000.0,60 months,14.85,379.39,C,C5,MORTGAGE,48000.0,Not Verified,...,0.0,1.0,Individual,0.0,0.0,0.0,0.0,2.0,N,N
30,16000.0,16000.0,36 months,12.88,538.18,C,C2,MORTGAGE,65000.0,Not Verified,...,0.0,1.0,Individual,0.0,0.0,0.0,0.0,1.0,N,N
32,12000.0,12000.0,36 months,10.78,391.62,B,B4,RENT,98000.0,Not Verified,...,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,N
34,16800.0,16800.0,60 months,12.88,381.23,C,C2,MORTGAGE,118000.0,Not Verified,...,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,N
42,16000.0,16000.0,60 months,13.99,372.21,C,C4,MORTGAGE,142000.0,Verified,...,0.0,1.0,Individual,0.0,0.0,0.0,0.0,2.0,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2650536,39975.0,39975.0,36 months,25.00%,1589.40,D,D4,MORTGAGE,0.0,Not Verified,...,0.0,1.0,Joint App,0.0,0.0,0.0,0.0,0.0,N,N
2650540,13425.0,13425.0,60 months,15.24%,321.08,C,C2,MORTGAGE,48000.0,Verified,...,0.0,1.0,Joint App,0.0,0.0,0.0,0.0,0.0,N,N
2650543,10000.0,9750.0,36 months,11.02%,327.49,B,B2,MORTGAGE,160000.0,Not Verified,...,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,N
2650546,20000.0,20000.0,60 months,20.00%,529.88,D,D2,MORTGAGE,55000.0,Not Verified,...,0.0,1.0,Joint App,0.0,0.0,0.0,0.0,0.0,N,N
2650548,10000.0,10000.0,36 months,8.81%,317.12,A,A5,MORTGAGE,52116.0,Verified,...,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,N

In [14]:
#print out the shape of new dataset
data1.shape

(300276, 55)

In [15]:
#it takes really long time to load original dataset, so save new dataset to a csv file called data1
#can load data1 into a new file and load data1 file instead of original datafile to save some time
data1.to_csv('data1.csv')